
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Doto", serif;
}

.container{
    display: flex;
}

.navbar a{
    text-decoration: none;
    color: wheat;
}

.navbar{
    display: flex;
    height: 100px;
    min-width: 100%;
    font-size: 1rem;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
 }

.navbar a:hover {
    border-bottom: 4px solid #d2c3c7;
    font-size: 1.5rem;
 }

 .left,.right{
    display:flex ;
    align-items: center;
 }

 .left{
    background-color: black;
    height: 800px;
    width: 65%;
    padding-left: rem;
    

 }
 .right{
    background:linear-gradient(-45deg, rgb(105, 27, 139),black 70%);
    height: 800px;
    width:35%;
 }
 .icons{
    display: flex;
    flex-direction: column;
    
    margin-top: 50px;


 }
 
 .fb{
    color: white;
     margin-top:50px ;
     margin-left: 100px;
     font-size: 1.7rem;
 }
 .fb{
    cursor:pointer;
 }
 .fb:hover{
    color:rgb(102, 42, 158) ;
    font-size: 3rem;
 }

 .content {
    color: #d2c3c7;
    margin-left: 4rem;
    max-width: 40rem;
   
    
 }

 .content h1{
    font-size: 2rem;
    color: rgb(102, 42, 158);
 }
 .content h2{
    font-size: 4rem;
 }
 .content p{
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.8rem;
 }
 .buttonc button{
    border: 0.22rem solid rgb(102, 42, 158);
    font-size: 0.6rem;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
 }
 .buttonc button:hover{
  font-size: 1.3rem;  
 }

 .design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 30%;
    left: 57%;
   


 }
.circle:nth-child(1){
    background:linear-gradient(90deg,transparent 50%,rgb(77, 16, 124)50%);
    width: 32rem;
    
}
.circle:nth-child(2){
    background-image: url("young.webp");
background-repeat:no-repeat;
    width: 28rem;

    box-shadow: 
    0 0 3rem white,
    0 0 3rem purple;
}



